<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">


	<listeners>

		<listener
			class-name="com.w2a.zoho.ExtentListeners.ExtentListeners"></listener>

	</listeners>

	<test name="Test1">
		<classes>
			<class name="com.w2a.zoho.testcases.LoginTest" />
		</classes>
	</test> <!-- Test -->
	
	<test name="Test2">
		<classes>
			<class name="com.w2a.zoho.testcases.ValidateCRMTest" />
		</classes>
	</test> <!-- Test -->


</suite> <!-- Suite -->
